/*

omninotesweb main stylesheet
=============

Author:  Suraj Patil
Updated: January 13, 2014
Notes:	 omninotesweb

*/


/*--------------------------------------
Layout
-------------------------------------- */

.commentslist {
  background-color: #f5f5f5;
}

.loginbutton {
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.comment {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}

ul {
  list-style-type: none;
}

.timestamp {
  color: #aaa;
}

.badge {
  background-color: #1a78c9;
  margin-right: 10px;
  float: right;
}

.center {
  text-align: center;
}

.navbar-brand:hover {
  color: white;
}

.footer {
  height: 30px;
  width: auto;
  text-align: center;
}

.floating-action-icon {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 101;
  width: 56px;
  height: 56px;
  font-size: 20px;
  border-radius: 35px;
  box-shadow: 0 0 4px #111;
  padding-top: 10px !important;
}

.notification {
  width: -moz-fit-content;
  position: fixed;
  right: 10px;
  max-width: 400px;
  padding: 12px;
  background-color: #F2FCFF;
  box-shadow: 1px 0px 9px 0px rgba(27, 123, 216, 0.4);
  border: 1px solid #5596CE;
  border-radius: 10px;
  border-radius: 10px;
  z-index: 1100;
  max-height: 90px;
  margin-top: 20px;
  min-width: 200px;
}

#btnMessage {
  padding: 1px 12px;
  height: 30px;
  text-align: center;
  float: right;
}


/*--------------------------------------
Navbar
-------------------------------------- */

.mainHeader {
  background-color: #3f51b5;
  border-radius: 0px;
}

.navbar-brand {
  margin-left: 25px;
  font-size: 1.5em;
  color: white;
  max-width: 2000px;
}

.btn-action {
  background-color: #3f51b5;
}

#icons {
  text-align: right;
  float: right;
  height: 50%;
  line-height: 52px;
  float: right;
  margin-top: 10px;
}

nav .glyphicon {
  color: white;
}

nav .glyphicon:hover {
  color: black;
}

.sr-only {
  display: block;
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}


/*--------------------------------------
NotesFeed
-------------------------------------- */

.overdue {
  color: red;
  margin-top: 1px;
  font-size: 12px;
  padding-top: -100px;
  position: absolute;
  padding-left: 5px;
}

.noteHeading {
  font-weight: 900;
  font-size: 17px;
  color: #666666;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

hr {
  margin: 0;
  padding: 0;
}

.noteHeading a {
  font-weight: 400;
  font-size: 11px;
}

.noteContent {
  padding-top: 7px;
  font-size: 0.9em;
  display: none;
}

.noteContent img {
  width: 90%;
  padding-left: 10%;
}

.toggle {
  cursor: pointer;
  margin-top: -30px;
  float: right;
}

.notefooter {
  color: #aaa;
  height: 20px;
}


/* These are the classes that are going to be applied: */

.column {
  float: left;
}

.note {
  display: block;
  margin: 4px;
  margin-bottom: 6px;
  padding: 15px;
  background-color: white;
  box-shadow: 1px 1px 2px 1px #7D7470;
  border-radius: 4px 4px 4px 4px;
  height: auto;
}

.note:hover {
  border-bottom: 2px solid black;
}

.menu a {
  text-decoration: none;
}

.menu li {
  margin-top: -10px;
  list-style: none;
  float: right;
  padding: 5px;
  height: 15px;
}


/*--------------------------------------
Navigation drawer
-------------------------------------- */

.list-group-item {
  border: none;
}

.sidebar-item h5 {
  margin-left: 15px;
  display: block;
}

.sidebar-item .glyphicon:hover {
  color: black;
}

.col-sm-2 a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: transparent;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 70px;
}

.nav-item {
  padding-left: 10px;
}

.col-sm-2 {
  background-color: white;
}

.badge {
  background-color: #7D8EF0;
  margin-right: 10px;
  float: right;
}


/* --------------------------------------
Global Styles
-------------------------------------- */

body {
  width: 100%;
}

.main-content {
  color: black;
}

.highlight {
  background-color: #72CBFF;
}


/* --------------------------------------
Media Queries
-------------------------------------- */


/* Portrait & landscape phone */

@media (max-width: 480px) {
  body {
    margin-top: 105px;
  }

  textarea {
    resize: vertical;
    width:50%;
  }

  .timeline {
    overflow: hidden;
    width: 100%;
  }

  #icons {
    text-align: center;
    padding: 0;
    height: 50%;
    line-height: 52px;
    float: right;
    margin-top: 10px;
  }
  .mainHeader h3 {
    padding: 0px;
    text-align: center;
  }

  .btn-primary {
    width: auto;
  }

  .input {
    width:100px;
  }

  .floating-action-icon {
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 101;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 24px;
    border-radius: 25px;
    text-align: center;
  }
  .modal-dialog {
    width: 240px;
  }
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) and (min-width:481px) {
  #icons {
    text-align: center;
    padding: 0;
    height: 50%;
    line-height: 52px;
    float: right;
    margin-top: 10px;
  }

  textarea {
    resize: vertical;
    width: 200px;
  }

  body {
    margin-top: 105px;
  }

  .timeline {
    overflow: hidden;
    width: 80%;
    padding-left: 40px;
  }
  .mainHeader h3 {
    padding: 0px;
    text-align: center;
  }
  .note-lg {
    height: 360px;
    /*change later*/
  }
  .modal-dialog {
    width: 250px;
  }
}


/* Large desktop */

@media (max-width: 1400px) and (min-width:769px) {
  .timeline {
    overflow: hidden;
    width: 55%;
    margin-left: 20%;
  }

  textarea {
      resize: vertical;
      width: 400px;
  }
}


/*--------------------------------------
Sidebar
-------------------------------------- */

.sidebar-toggle {
  left: 10px !important;
}

.sidebar-wrapper.sidebar-default.sidebar-open,
.sidebar-wrapper.sidebar-default.sidebar-dragging {
  width: 260px;
}


/*Modal dialog*/

.modal-footer {
  padding: 10px 15px 15px;
  margin: 0;
  border: none;
}

.modal-body {
  padding: 20px 20px 10px 20px;
}

.modal {
  overflow: hidden;
}


/* Home.html */
.login-form {
  text-align: center;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

#login {
  background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}

.forgot {
  text-align: left; margin-bottom:30px;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}