{{template "_head.bootstrap4.1.3.html" .}}
<div id="login">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Authentification</h2>
                    <p>Entrer votre email et mot de passe</p>
                </div>
                <form id="Login" action="/api/account/login/" method="POST">
                    <div class="form-group">
                        <input class="form-control" id="inputEmail" placeholder="Adresse Email" name="inputEmail" type="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="inputPassword" placeholder="Mot de passe" name="inputPassword" type="password">
                    </div>
                    <div class="forgot">
                        <a href="/login/reset/">Mot de passe oublié?</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrer</button>
                    <div style="padding-top: 30px;">
                        <a href="/user/new/">s'inscrire?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "_footer.html" .}}
</body>
</html>
