{{template "_head.bootstrap4.1.3.html" .}}
<div id="login">
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Inscription</h2>
                </div>
                <form id="userNew" action="/api/account/subscribe/" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Adresse Email" name="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Mot de passe" name="password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Mot de passe" name="passwordConfirmation">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Prénom" name="firstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nom" name="lastName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Adresse" name="address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Latitude en dégré décimal" name="latitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" placeholder="Longitude en dégré décimal" name="longitude">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Téléphone"   name="telephone"> <!-- FIXME le format et la validation -->
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Fonction"   name="fonction">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Raison sociale"   name="raisonSocial">
                    </div>
                     <div class="form-group">
                        <input class="form-control" type="text" placeholder="Plage horaire de livraison"   name="plageHoraireLivraison">
                    </div>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "_footer.html" .}}
<script src="/static/js/script.js"></script>
</body>
</html>

<!-- FIXME éviter une attaque csrf en ajoutant un token -->